body
{
    background:#003858 ; 
    margin : 0;
    color : white;

}
/****************Tete*******************/
header
{
    background: #003858 ;

}

input {
    font-size: 22pt;
    border :none;
    border-radius: 40px;
    background-color: #d37e4f;
    padding : 10px;
    color : white;
    width: 200px;
    transition: 0.5s;

}
.effet:hover
{
    width: 230px;
    background:#dba895; 

}
.effet
{
    transition: 0.5s;
}

.Accueil {
    background-color:#db9c7d; 
}

.tete {
    
    display : flex;
    margin: 10px;
   
}
.bouton{
    margin-top : 55px;
    
    margin-bottom: 20px;
    margin-left: auto;
    
    
} 
.gris
{
    background:#bab8b6 ;
    width: auto;
    height: 50px;
    
}
.pres
{
    background: #dba895;
}
/************************corps****************************/
.txt {
    font-family : Bahnschrift; 
    font-size : 18pt;
    margin : 10px;
    padding : 10px;
    
    margin-top : 160px;
}
.formu
{
    background: white;
    color :black;
    width: 400px;
}
.msg
{
    width: 400px;
    height : 200px;
    border-radius: 20px;
    font-family : Bahnschrift; 
    font-size : 18pt;
}
.envoyer
{
    margin-left: 100px;
}
.corps
{
    display :flex;
    justify-content: space-between;
    
}
.contact
{
    position: absolute;
    top : 270px;
    left:720px;

}
.env
{
    position: relative;
    top : 200px;
}



/******************************Pied********************************/

footer
{
    background:#bab8b6 ;
    font-family : Bahnschrift; 
    font-size : 22pt;
    
   
}
.pied
{
    display: flex;
    padding : 20px;
}
.mail
{
    padding : 20px;
    margin-left: auto;
    margin-right :auto;
}
.adresse
{
    padding : 20px;
    margin-left: auto;
    margin-right :auto;
}
.tel
{
    padding : 20px;
    margin-left: auto;
    margin-right :auto;
}